.table-train{
    border-collapse: collapse;
    border: solid thick;

    tbody {
            border: solid medium;
    }
    
    td {
        border: solid thin;
        height: 1.4em;
        width: 1.4em;
        text-align: center;
        padding: 0;
    }
}

.example-practice-s1a1 {
    border: 2px dashed #f0e3e3;
    padding: 10px;
    overflow: auto;
    height: 300px;
    width: 300px;
    margin: 0 auto;
}