// 1.2
.p-1_2 {
    display: flex;
    gap: 10px;
}

.span-none_1_2 {
    text-decoration: none;
}

.span-underline_1_2 {
    text-decoration: underline solid;
    text-decoration-color: yellow;
}

.span-line-through_1_2 {
    text-decoration: line-through yellow;
}

.span-overline_1_2 {
    text-decoration: overline;
    text-decoration-color: yellow;
}

.span-dotted_1_2 {
    text-decoration: underline dotted yellow;
}

.span-dashed_1_2 {
    text-decoration-line: underline;
    text-decoration-style: dashed;
    text-decoration-color: yellow;
}

.span-double_1_2 {
    text-decoration: underline double yellow;
}

.span-wavy_1_2 {
    text-decoration: underline wavy yellow;
}

// 1.3
.p-1_3 {
    display: flex;
    gap: 10px;
}

.span-none_1_3 {
    text-transform: none;
}

.span-uppercase_1_3 {
    text-transform: uppercase;
}

.span-lowercase_1_3 {
    text-transform: lowercase;
}

.span-capitalize_1_3 {
    text-transform: capitalize;
}

// 1.4
.post-title-1_4 {
    text-align: center;
}

.align-right-1_4 {
    text-align: right;
}

.align-justify-1_4 {
    text-align: justify;
}

// 1.5
.post-text-px-1_5 {
    text-indent: 100px;
}

.post-text-percent-1_5 {
    text-indent: 10%;
}

// 1.6
.line-height-1_6a {
    font-size: 16px;
    line-height: 1.5;
}

;

.line-height-1_6b {
    font-size: 16px;
    line-height: 1;
}

;

.line-height-1_6c {
    font-size: 16px;
    line-height: 2;
}

;

.line-height-1_6d {
    font-size: 16px;
    line-height: 20px;
}

;

.line-height-1_6e {
    font-size: 16px;
    line-height: 10px;
}

;

// 1.7
.letter-spacing-1_7a {
    letter-spacing: normal;
}

;

.letter-spacing-1_7b {
    letter-spacing: 10px;
}

;

.letter-spacing-1_7c {
    letter-spacing: 5px;
}

;

// 1.8
.word-spacing-1_8a {
    word-spacing: normal;
}

.word-spacing-1_8b {
    word-spacing: 20px;
}

.word-spacing-1_8c {
    word-spacing: 10px;
}

// 1.9
.text-shadow-1_9a {
    color: #ffffff;
    text-shadow: 2px 2px 4px #000000;
}

// 1.10
.text-shadow-1_10a {
    color: #ffffff;
    text-shadow: 2px 2px 20px #ff0000, 5px 5px 5px #000000;
}

// 1.11
.white-space-1_11a {
    white-space: normal;
}

.white-space-1_11b {
    white-space: nowrap;
}

.white-space-1_11c {
    white-space: pre;
}

.white-space-1_11d {
    white-space: pre-wrap;
}

// 2.2
.text-2_2 {
    font-size: 20px;
}

// 2.3
.title-2_3 {
    font-weight: 400;
}

.text-2_3 {
    font-weight: 700;
}

// 2.4
.title-2_4 {
    font-style: italic;
}

// 3.2
.pre-3_2 {
    font-family: 'Arial', 'Helvetica', sans-serif;
    color: #2ab8e4;
    font-size: 16px;
}

.pre-3_2::first-letter {
    font-family: 'Tahoma', serif;
    font-size: 32px;
    color: #f44336;
}


// 3.3
.pre3-3 {
    font-family: 'Raleway';
    font-weight: 700;
}

.pre-3_3::selection {
    font-family: 'Tahoma', serif;
    font-size: 32px;
    color: #f44336;
}