// 1.2
.text_1-2 {
    border: 2px dashed #2196F3;
    padding: 15px;
    margin: 20px;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

// 2.3
.post_2-3 {
    padding: 20px;
    max-width: 400px;
    background-color: #fff;
    border: 2px dashed #2a2a2a;
    color: blue;
}

.post-thumb_2-3 {
    margin-bottom: 30px;
    border: 2px dashed tomato;
}

.post-heading_2-3 {
    margin-top: 0;
    margin-bottom: 20px;
    border: 2px dashed teal;
}

.post-text_2-3 {
    margin-bottom: 0;
    margin-top: 0;
    border: 2px dashed blue;
}