/* rejestracja zmiennej (WAŻNE!) */
@property --p {
  syntax: '<percentage>';
  inherits: false;
  initial-value: 40%;
}

.background-main-container_m3z5 {



  //1.3
  .galery-background-list_1-3 {
    --gap: 10px;
    --countImages: 2;
    --countSpace: calc(var(--countImages) - 1);
    display: flex;
    flex-wrap: wrap;
    gap: var(--gap);
    color: black;
    font-size: 2rem;
    font-weight: bold;

    .galery-background-list-item_1-3 {
      display: flex;
      width: calc((100% - (var(--countSpace) * var(--gap))) / var(--countImages));
      height: 200px;
      border-radius: 4px;
      overflow: hidden;
      background-color: #2a2a2a;
      background-image: url(../../images/image/biurkoStatystyki1_100x94.png);
    }

    .background-repeat_1-3 {
      background-repeat: repeat;
    }

    .background-repeat-x_1-3 {
      background-repeat: repeat-x;
    }

    .background-repeat-y_1-3 {
      background-repeat: repeat-y;
    }

    .background-no-repeat_1-3 {
      background-repeat: no-repeat;
    }
  }

  //1.4
  .galery-background-position-list_1-4 {
    --gap: 10px;
    --countImages: 2;
    --countSpace: calc(var(--countImages) - 1);
    display: flex;
    flex-wrap: wrap;
    gap: var(--gap);
    color: black;
    font-size: 2rem;
    font-weight: bold;

    .galery-background-position-list-item_1-4 {
      display: flex;
      width: calc((100% - (var(--countSpace) * var(--gap))) / var(--countImages));
      height: 200px;
      border-radius: 4px;
      overflow: hidden;
      background-color: #2a2a2a;
      background-image: url(../../images/image/biurkoStatystyki1_100x94.png);
      background-repeat: no-repeat;
    }

    .background-percent_1-4 {
      background-position: 50% 50%;
    }

    .background-pixel_1-4 {
      background-position: 100px 50px;
    }

    .background-right_1-4 {
      background-position: right bottom;
    }

    .background-left_1-4 {
      background-position: left top;
    }

    .background-custom-percent_1-4 {
      background-position: top 50% left 50%;
    }

    .background-custom-pixel_1-4 {
      background-position: top -30px left 50px;
    }

    .background-custom-right_1-4 {
      background-position: right 5% bottom 10%;
    }

    .background-custom-left_1-4 {
      background-position: left 100px top 50px;
    }
  }

  //1.5
  .galery-background-size-list_1-5 {
    --gap: 10px;
    --countImages: 2;
    --countSpace: calc(var(--countImages) - 1);
    display: flex;
    flex-wrap: wrap;
    gap: var(--gap);
    color: black;
    font-size: 2rem;
    font-weight: bold;

    .galery-background-size-list-item_1-5 {
      display: flex;
      width: calc((100% - (var(--countSpace) * var(--gap))) / var(--countImages));
      height: 200px;
      border-radius: 4px;
      overflow: hidden;
      background-color: #2a2a2a;
      background-image: url(../../images/image/biurkoStatystyki1_100x94.png);
      background-repeat: no-repeat;
    }

    .background-size-auto_1-5 {
      background-size: auto;
    }

    .background-size-pixel_1-5 {
      background-size: 200px 300px;
    }

    .background-size-percent_1-5 {
      background-size: 80% 60%;
    }

    .background-size-custom-left-auto_1-5 {
      background-size: 150px;
    }

    .background-size-cover_1-5 {
      background-size: cover;
    }

    .background-size-contain_1-5 {
      background-size: contain;
    }
  }

  //1.6
  .galery-background-attachment-list_1-6 {
    --gap: 10px;
    --countImages: 3;
    --countSpace: calc(var(--countImages) - 1);
    --widthImage: calc((100% - (var(--countSpace) * var(--gap))) / var(--countImages));

    display: flex;
    flex-wrap: wrap;
    gap: var(--gap);
    margin: 20px 0;
    position: relative;

    .galery-background-attachment-list-item_1-6 {
      display: flex;
      flex-flow: column;
      width: var(--widthImage);
      border-radius: 4px;
      overflow: auto;
      background-image:
        linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
        url(../../images/image/gory.jpg);
      background-size: cover;
      background-position: center;
      height: 50vh;

      &.background-attachment-scroll_1-6 {
        background-attachment: scroll;

      }

      &.background-attachment-fixed_1-6 {
        background-attachment: fixed;
      }

      &.background-attachment-local_1-6 {
        background-attachment: local;
      }

      .background-attachment-header_1-6 {
        background-color: rgba(0, 0, 0, 0.5);
        padding: 5px;
        text-align: center;
      }
    }
  }

  .background-attachment-main-container_1-6 {
    position: relative;
    height: 70vh;
    margin: 40px 0;
    overflow: auto;

    .background-attachment-container_1-6 {
      position: relative;
      background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
        url(../../images/image/gory.jpg);
      background-color: rgba(0, 0, 0, 1);
      background-size: cover;
      background-attachment: fixed;
      background-repeat: no-repeat;

      &::before {
        content: "";
        position: absolute;
        inset: 0;
        background-color: rgba(0, 0, 0, 0.1);
        transition: opacity 1.4s ease, background-color 1.4s ease;
      }

      &:hover::before {
        // opacity: 0.4;
        background-color: rgba(0, 0, 0, 0.7);
      }
    }

    .background-attachment-text-container_1-6 {
      position: relative;

      .background-attachment-header_1-6 {
        position: sticky;
        top: 0;
        text-align: center;
        background-image: linear-gradient(to bottom, #6a11cb 0%, #2575fc 100%);
      }

      .background-attachment-text_1-6 {
        color: white;
      }
    }
  }

  //1.7
  .galery-background-image-few-list_1-7 {
    --gap: 10px;
    --countImages: 2;
    --countSpace: calc(var(--countImages) - 1);
    display: flex;
    flex-wrap: wrap;
    gap: var(--gap);
    color: black;
    font-size: 0.5rem;
    font-weight: bold;

    .galery-background-image-few-list-item_1-7 {
      display: flex;
      width: calc((100% - (var(--countSpace) * var(--gap))) / var(--countImages));
      height: 200px;
      border-radius: 4px;
      overflow: hidden;
      background-color: #2a2a2a;
      background-repeat: no-repeat;
    }

    .background-image-few-first_1-7 {
      background-image: url(../../images/image/biurkoStatystyki1_100x94.png), url(../../images/image/biurkoStatystyki1.jpg);
      background-position: right bottom, center;
      background-size: auto, cover;
    }

    .background-image-few-second_1-7 {
      background-image: url(../../images/image/biurkoStatystyki2.jpg), url(../../images/image/biurkoStatystyki2.jpg);
      background-position: top left, center;
      background-size: contain, cover;
    }

    .background-image-few-third_1-7 {
      background-image: url(../../images/image/biurkoStatystyki3.jpg), url(../../images/image/biurkoStatystyki3.jpg);
      background-position: top left, center;
      background-size: contain, cover;
    }

    .background-image-few-fourth_1-7 {
      background-image: url(../../images/image/biurkoStatystyki4.jpg), url(../../images/image/biurkoStatystyki4.jpg);
      background-position: center, center;
      background-size: 100px 100px, cover;
    }
  }

  //1.8
  .galery-background-gradient-list_1-8 {
    --gap: 10px;
    --countImages: 2;
    --countSpace: calc(var(--countImages) - 1);
    display: flex;
    flex-wrap: wrap;
    gap: var(--gap);
    color: black;
    font-size: 1rem;
    font-weight: bold;

    .galery-background-gradient-list-item_1-8 {
      display: flex;
      width: calc((100% - (var(--countSpace) * var(--gap))) / var(--countImages));
      height: 200px;
      border-radius: 4px;
      overflow: auto;
      background-color: #2a2a2a;
      background-repeat: no-repeat;
    }

    .background-gradient-no-gradient1_1-8 {
      background-image: url(../../images/image/biurkoKluczyki1.jpg);
      background-position: center;
      background-size: cover;
    }

    .background-gradient-with-gradient1_1-8 {
      background-image: linear-gradient(to bottom,
          rgba(255, 0, 0, 0.3),
          rgba(255, 0, 0, 0.3)), url(../../images/image/biurkoKluczyki1.jpg);
      background-position: top left, center;
      background-size: contain, cover;
    }

    .background-gradient-no-gradient2_1-8 {
      background-image: url(../../images/image/biurkoKluczyki2.jpg);
      background-position: center;
      background-size: cover;
    }

    .background-gradient-with-gradient2_1-8 {
      background-image: linear-gradient(90deg, rgba(42, 123, 155, 0.5) 0%, rgba(87, 199, 133, 0.5) 50%, rgba(237, 221, 83, 0.5) 100%), url(../../images/image/biurkoKluczyki2.jpg);
      background-position: center, center;
      background-size: cover;
    }
  }

  //1.10
  .galery-background-blend-mode-list_1-10 {
    --gap: 10px;
    --countImages: 4;
    --countSpace: calc(var(--countImages) - 1);
    --widthImage: calc((100% - (var(--countSpace) * var(--gap))) / var(--countImages));

    display: flex;
    flex-wrap: wrap;
    gap: var(--gap);
    margin: 20px 0;
    position: relative;

    .galery-background-blend-mode-list-item_1-10 {
      position: relative;
      display: flex;
      flex-flow: column;
      width: var(--widthImage);
      border-radius: 4px;
      overflow: auto;
      background-image:
        linear-gradient(rgba(4, 29, 250, 0.5),
          rgba(4, 29, 250, 0.5)),
        url(../../images/image/gory.jpg);
      background-size: cover;
      background-position: top;
      height: 40vh;

      &.background-blend-mode-normal_1-10 {
        background-blend-mode: normal;
        font-size: 0.5rem;
      }

      &.background-blend-mode-multiply_1-10 {
        background-blend-mode: multiply;

        &:hover {
          background-blend-mode: normal;
        }
      }

      &.background-blend-mode-overlay_1-10 {
        background-blend-mode: overlay;

        &:hover {
          background-blend-mode: normal;
        }
      }

      &.background-blend-mode-screen_1-10 {
        background-blend-mode: screen;

        &:hover {
          background-blend-mode: normal;
        }
      }

      &.background-blend-mode-darken_1-10 {
        background-blend-mode: darken;

        &:hover {
          background-blend-mode: normal;
        }
      }

      &.background-blend-mode-lighten_1-10 {
        background-blend-mode: lighten;

        &:hover {
          background-blend-mode: normal;
        }
      }

      &.background-blend-mode-color_1-10 {
        background-blend-mode: color;

        &:hover {
          background-blend-mode: normal;
        }
      }

      &.background-blend-mode-luminosity_1-10 {
        background-blend-mode: luminosity;

        &:hover {
          background-blend-mode: normal;
        }
      }

      .background-blend-mode-header_1-10 {
        position: sticky;
        top: 0;
        background-color: rgba(0, 0, 0, 0.5);
        padding: 5px;
        text-align: center;
        font-size: 1rem;
      }
    }
  }

  //1.11
  .galery-background-origin-list_1-11 {
    --gap: 10px;
    --countImages: 3;
    --countSpace: calc(var(--countImages) - 1);
    --widthImage: calc((100% - (var(--countSpace) * var(--gap))) / var(--countImages));

    display: flex;
    flex-wrap: wrap;
    gap: var(--gap);
    margin: 20px 0;
    position: relative;

    .galery-background-origin-list-item_1-11 {
      position: relative;
      display: flex;
      flex-flow: column;
      width: var(--widthImage);
      border-radius: 4px;
      overflow: auto;

      background-image: linear-gradient(rgba(4, 29, 250, 0.1),
          rgba(4, 29, 250, 0.1)),
        url(../../images/image/gory.jpg);
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      height: 40vh;
      border: 15px solid blue;
      padding: 10px;

      &.background-origin-padding-box_1-11 {
        background-origin: padding-box;

      }

      &.background-origin-content-box_1-11 {
        background-origin: content-box;

        &:hover {
          background-origin: padding-box;
        }
      }

      &.background-origin-border-box_1-11 {
        background-origin: border-box;

        &:hover {
          background-origin: padding-box;
        }
      }

      .background-origin-header_1-11 {
        position: sticky;
        top: 0;
        background-color: rgba(0, 0, 0, 0.5);
        padding: 5px;
        text-align: center;
        font-size: 1rem;
      }
    }
  }


  //1.12
  .galery-background-clip-list_1-12 {
    --gap: 10px;
    --countImages: 3;
    --countSpace: calc(var(--countImages) - 1);
    --widthImage: calc((100% - (var(--countSpace) * var(--gap))) / var(--countImages));

    display: flex;
    flex-wrap: wrap;
    gap: var(--gap);
    margin: 20px 0;
    position: relative;

    .galery-background-clip-list-item_1-12 {
      position: relative;
      display: flex;
      flex-flow: column;
      width: var(--widthImage);
      border-radius: 4px;
      overflow: auto;

      background-image: linear-gradient(rgba(4, 29, 250, 0.1),
          rgba(4, 29, 250, 0.1)),
        url(../../images/image/gory.jpg);
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      height: 40vh;
      border: 15px solid blue;
      padding: 10px;

      &.background-clip-padding-box_1-12 {
        background-clip: padding-box;
      }

      &.background-clip-content-box_1-12 {
        background-clip: content-box;

        &:hover {
          background-clip: padding-box;
        }
      }

      &.background-clip-border-box_1-12 {
        background-clip: border-box;

        &:hover {
          background-clip: padding-box;
        }
      }

      .background-clip-header_1-12 {
        position: sticky;
        top: 0;
        background-color: rgba(0, 0, 0, 0.5);
        padding: 5px;
        text-align: center;
        font-size: 1rem;
      }
    }
  }

  //1.12a
  .galery-background-clip-list_1-12a {
    --gap: 10px;
    --countImages: 3;
    --countSpace: calc(var(--countImages) - 1);
    --widthImage: calc((100% - (var(--countSpace) * var(--gap))) / var(--countImages));

    display: flex;
    flex-wrap: wrap;
    gap: var(--gap);
    margin: 20px 0;
    position: relative;

    .galery-background-clip-list-item_1-12a {
      position: relative;
      display: flex;
      flex-flow: column;
      width: var(--widthImage);
      border-radius: 4px;
      overflow: auto;


      height: 40vh;
      border: 15px solid blue;
      padding: 10px;
      font-size: 2rem;
      font-weight: 900;
      line-height: 1.1;

      &:hover .background-clip-text_1-12a.text1_1-12a {
        color: white;
      }

      &:hover .background-clip-text_1-12a.text2_1-12a {
        top: calc(70%);
      }

      &:hover .background-clip-text_1-12a.text3_1-12a {
        background-position: left top;

      }

      .background-clip-header_1-12a {
        position: sticky;
        top: 0;
        background-color: rgba(0, 0, 0, 0.5);
        padding: 5px;
        text-align: center;
        font-size: 1rem;
      }

      .background-clip-text_1-12a {
        background-size: cover;
        background-position: center;
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent;

        &.text1_1-12a {
          background-image: linear-gradient(rgba(4, 29, 250, 0.0),
              rgba(4, 29, 250, 0.0)),
            url(../../images/image/gory.jpg);
          transition: color 2.5s ease;

        }

        &.text2_1-12a {
          position: absolute;
          top: 30px;
          background-image: url(../../images/image/gory.jpg);
          transition: top 1.4s ease-in-out;
          background-attachment: fixed;
          font-size: 2rem;
        }

        &.text3_1-12a {
          background-image: repeating-conic-gradient(#000 0 25%, #fff 0 50%);
          background-image: linear-gradient(90deg in hsl longer hue, red 0 100%);
          background-size: 200% 200%;
          transition: background-position 1.4s ease-in-out;
        }
      }
    }
  }

  //2.1
  .galery-shadow-list_2-1 {
    --gap: 10px;
    --countImages: 2;
    --countSpace: calc(var(--countImages) - 1);
    display: flex;
    flex-wrap: wrap;
    gap: var(--gap);
    color: black;
    font-size: 1.5rem;
    font-weight: bold;

    .galery-shadow-list-item_2-1 {
      display: flex;
      width: calc((100% - (var(--countSpace) * var(--gap))) / var(--countImages));
      height: 200px;
      border-radius: 4px;
      overflow: hidden;
      background-color: #2a2a2a;
      background-repeat: no-repeat;
    }

    .no-shadow_2-1 {
      background-image: url(../../images/image/biurkoKluczyki3.jpg);
      background-position: center;
      background-size: cover;
    }

    .with-shadow_2-1 {
      background-image: url(../../images/image/biurkoKluczyki3.jpg);
      background-position: center;
      background-size: cover;
      box-shadow: 10px 13px 8px rgb(151, 56, 56);
    }
  }

  //2.2
  .galery-multiple-shadow-list_2-2 {
    --gap: 10px;
    --countImages: 2;
    --countSpace: calc(var(--countImages) - 1);
    display: flex;
    flex-wrap: wrap;
    gap: var(--gap);
    color: black;
    font-size: 1.5rem;
    font-weight: bold;

    .galery-multiple-shadow-list-item_2-2 {
      display: flex;
      width: calc((100% - (var(--countSpace) * var(--gap))) / var(--countImages));
      height: 200px;
      border-radius: 4px;
      overflow: hidden;
      background-color: #2a2a2a;
      background-repeat: no-repeat;
    }

    .no-multiple-shadow_2-2 {
      background-image: url(../../images/image/biurkoKluczyki4.jpg);
      background-position: center;
      background-size: cover;
      box-shadow: rgba(255, 255, 255, 0.25) 0px 54px 55px;

      &:hover {
        box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px;
      }
    }

    .with-multiple-shadow_2-2 {
      background-image: url(../../images/image/biurkoKluczyki4.jpg);
      background-position: center;
      background-size: cover;
      box-shadow:
        rgba(255, 255, 255, 0.25) 0px 54px 55px,
        rgba(255, 255, 255, 0.12) 0px -12px 30px,
        rgba(255, 255, 255, 0.12) 0px 4px 6px,
        rgba(255, 255, 255, 0.17) 0px 12px 13px,
        rgba(255, 255, 255, 0.09) 0px -3px 5px;
    }

    .with-multiple-shadow_2-2:hover {
      box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    }
  }

  //2.3
  .galery-shadow-inset-list_2-3 {
    --gap: 40px;
    --countImages: 4;
    --countSpace: calc(var(--countImages) - 1);
    display: flex;
    flex-wrap: wrap;
    gap: var(--gap);
    color: black;
    font-size: 1.5rem;
    font-weight: bold;

    .galery-shadow-inset-list-item_2-3 {
      display: flex;
      width: calc((100% - (var(--countSpace) * var(--gap))) / var(--countImages));
      height: 200px;
      border-radius: 4px;
      overflow: hidden;
      background-color: #2a2a2a;
      background-repeat: no-repeat;
      background-color: white;
    }

    .box1_2-3 {
      background-color: white;

      &:hover {
        box-shadow: none;
      }
    }

    .box2_2-3 {
      background-color: white;
      box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;

      &:hover {
        box-shadow: none;
      }
    }

    .box3_2-3 {
      background: rgb(204, 226, 255);
      box-shadow: inset 20px 20px 60px #adc0d9,
        inset -20px -20px 60px #ebffff;

      &:hover {
        box-shadow: none;
      }
    }

    .box4_2-3 {
      border-radius: 70px;
      background: #5c0000;
      box-shadow: inset 28px 28px 56px #3f0000,
        inset -28px -28px 56px #790000;

      &:hover {
        box-shadow: none;
      }
    }

    .box5_2-3 {
      border-radius: 70px;
      background: #3a1515;
      box-shadow: 28px 28px 56px #270e0e,
        -28px -28px 56px #4d1c1c;

      &:hover {
        box-shadow: none;
      }
    }

    .box6_2-3 {
      border-radius: 70px;
      background: linear-gradient(145deg, #341313, #3e1616);
      box-shadow: 28px 28px 0px #1b0a0a,
        -28px -28px 0px #592020;

      &:hover {
        box-shadow: none;
      }
    }

    .box7_2-3 {
      box-shadow: none;
      transition: box-shadow 3s ease;

      &:hover {
        box-shadow:
          blue 0px 0px 0px 2px inset,
          rgb(255, 255, 255) 10px -10px 0px -3px,
          rgb(31, 193, 27) 10px -10px,
          rgb(255, 255, 255) 20px -20px 0px -3px,
          rgb(255, 217, 19) 20px -20px,
          rgb(255, 255, 255) 30px -30px 0px -3px,
          rgb(255, 156, 85) 30px -30px,
          rgb(255, 255, 255) 40px -40px 0px -3px,
          rgb(255, 85, 85) 40px -40px;
      }
    }

    .box8_2-3 {
      box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;

      &:hover {
        box-shadow: none;
      }
    }
  }

  .galery-gradient-shadow-list_2-3 {
    --gap: 40px;
    --countImages: 4;
    --countSpace: calc(var(--countImages) - 1);
    --widthSize: calc((100% - (var(--countSpace) * var(--gap))) / var(--countImages));
    display: flex;
    flex-wrap: wrap;
    gap: var(--gap);
    color: black;
    margin-top: 140px;
    font-size: 1rem;

    .galery-gradient-shadow-list-item_2-3 {
      position: relative;
      display: flex;
      flex-flow: column nowrap;
      width: var(--widthSize);
      aspect-ratio: 1 / 0.66;
      height: auto;
      border-radius: 4px;
      overflow: auto;
      transition: box-shadow 1.3s ease;

      &:hover {
        box-shadow: none;
      }

      .header_2-3 {
        position: sticky;
        top: 0;
        padding: 10px;
        text-align: center;
      }

      .text_2-3 {
        padding: 4px;
      }
    }

    .box1_2-3 {
      box-shadow: 12px 12px 2px 1px rgba(207, 163, 163, 0.2);
      background-image: repeating-linear-gradient(45deg,
          #ff758c,
          #ff758c 10px,
          #ff7eb3 10px,
          #ff7eb3 20px);

      .custom-header1_2-3 {
        background-image: repeating-linear-gradient(-45deg,
            #606dbc,
            #606dbc 10px,
            #465298 10px,
            #465298 20px);
      }
    }

    .box2_2-3 {
      box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
      background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);

      .custom-header2_2-3 {
        background-image: repeating-linear-gradient(to right,
            #f6ba52,
            #f6ba52 10px,
            #ffd180 10px,
            #ffd180 20px);
      }
    }

    .box3_2-3 {
      box-shadow: inset 20px 20px 60px #adc0d9,
        inset -20px -20px 60px #ebffff;

      .custom-header3_2-3 {
        background-image: repeating-radial-gradient(circle,
            purple,
            purple 10px,
            #4b026f 10px,
            #4b026f 20px);
      }
    }

    .box4_2-3 {
      border-radius: 70px;
      background: linear-gradient(to bottom, rgba(255, 255, 255, 0.15) 0%, rgba(0, 0, 0, 0.15) 100%), radial-gradient(at top center, rgba(255, 255, 255, 0.40) 0%, rgba(0, 0, 0, 0.40) 120%) #989898;
      background-blend-mode: multiply, multiply;
      box-shadow: inset 28px 28px 56px #3f0000,
        inset -28px -28px 56px #790000;

      &:hover {
        box-shadow: none;
      }

      .custom-header4_2-3 {
        background-image: repeating-radial-gradient(circle,
            green 9%,
            lime 10%);
      }
    }

    .box5_2-3 {
      border-radius: 70px;
      background: #3a1515;
      box-shadow: 28px 28px 56px #270e0e,
        -28px -28px 56px #4d1c1c;

      &:hover {
        box-shadow: none;
      }

      .custom-header1_2-3 {
        background-image: repeating-linear-gradient(-45deg,
            #606dbc,
            #606dbc 10px,
            #465298 10px,
            #465298 20px);
      }
    }

    .box6_2-3 {
      border-radius: 70px;
      background: linear-gradient(145deg, #341313, #3e1616);
      box-shadow: 28px 28px 0px #1b0a0a,
        -28px -28px 0px #592020;

      &:hover {
        box-shadow: none;
      }

      .custom-header1_2-3 {
        background-image: repeating-linear-gradient(-45deg,
            #606dbc,
            #606dbc 10px,
            #465298 10px,
            #465298 20px);
      }
    }

    .box7_2-3 {
      box-shadow: none;
      transition: box-shadow 3s ease;

      &:hover {
        box-shadow:
          blue 0px 0px 0px 2px inset,
          rgb(255, 255, 255) 10px -10px 0px -3px,
          rgb(31, 193, 27) 10px -10px,
          rgb(255, 255, 255) 20px -20px 0px -3px,
          rgb(255, 217, 19) 20px -20px,
          rgb(255, 255, 255) 30px -30px 0px -3px,
          rgb(255, 156, 85) 30px -30px,
          rgb(255, 255, 255) 40px -40px 0px -3px,
          rgb(255, 85, 85) 40px -40px;
      }
    }

    .box8_2-3 {
      box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;

      &:hover {
        box-shadow: none;
      }
    }
  }

  .galery-conic-gradient-list_2-3 {
    --gap: 40px;
    --countImages: 4;
    --countSpace: calc(var(--countImages) - 1);
    --widthSize: calc((100% - (var(--countSpace) * var(--gap))) / var(--countImages));
    display: flex;
    flex-wrap: wrap;
    gap: var(--gap);
    color: black;
    font-size: 1.5rem;
    font-weight: bold;
    margin-top: 140px;

    .galery-conic-gradient-list-item_2-3 {
      position: relative;
      display: flex;
      flex-flow: column nowrap;
      --p: 40%; //zmienna p
      width: var(--widthSize);
      aspect-ratio: 1 / 1;
      border-radius: 50%;

      transition: --p 1.3s ease;
      overflow: auto;
    }

    .box1_2-3 {
      background: conic-gradient(gold var(--p), #f06 0);

      &:hover {
        --p: 60%;
      }
    }

    .box2_2-3 {
      --p: 40%;
      background: conic-gradient(gold var(--p),
          blue calc(var(--p) + 20%),
          #f06 0);
      transition: --p 1s ease;

      &:hover {
        --p: 60%;
      }
    }

    .box3_2-3 {
      background: conic-gradient(gold 0% var(--p), blue var(--p) 60%, #f06 var(--p) 100%);

      &:hover {
        --p: 60%;
      }
    }

    .box4_2-3 {
      --p: 0%;
      background: conic-gradient(gold 0% var(--p), #f06 0);

      &:hover {
        --p: 100%;
      }
    }

    .box4_2-3 {
      --p: 0%;
      background: conic-gradient(gold 0% var(--p), #f06 0);

      &:hover {
        --p: 100%;
      }
    }

    .box5_2-3 {
      --p: 0%;
      background-image: conic-gradient(from 36deg at 20% 80%,
          #A100FFFF 0%,
          #000000 25%,
          #119CFDFF 30%);

      &:hover {
        --p: 100%;
      }
    }

    .box6_2-3 {
      --p: 0%;
      background: conic-gradient(#A100FFFF var(--p), #000000 25%, #119CFDFF 30%);

      &:hover {
        --p: 100%;
      }
    }

    .box7_2-3 {
      background-image: conic-gradient(from 36deg at 20% 80%, #A100FFFF 0% 25%,
          #000000 25% 30%,
          #119CFDFF 30% 50%);
    }

    .box8_2-3 {
      background-image: conic-gradient(from 45deg in oklch, white, black, white);
    }
  }

  //3.2
  .svg-container_3-2 {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    margin-top: 20px;

    .svg-img_3_2 {
      transition: transform 1.4s ease;
      transform-origin: center;
      /* domyślnie, ale warto jawnie */

      &:hover {
        transform: scale(2.1);
      }
    }
  }

  .pre-container {
    overflow: auto;
  }

  .svg-group-icon-container_3-2 {
    display: flex;
    align-items: center;

    .svg-group-icon1_3-2 {
      fill: #1ffd02;
      transition: all 2s ease;
      // transition: fill 2s ease;

      &:hover {
        fill: #fd0202;
      }
    }

    .svg-group-icon2_3-2 {
      fill: #1ffd02;
      transition: all 2s ease;
      // transition: fill 2s ease;

      &:hover {
        fill-opacity: 0.2;
      }
    }

    .svg-group-icon3_3-2 {
      fill: #1ffd02;
      transition: all 2s ease;
      // transition: fill 2s ease;

      &:hover {
        stroke: #0d58e4;
      }
    }

    .svg-group-icon4_3-2 {
      fill: #1ffd02;
      transition: all 2s ease;
      // transition: fill 2s ease;

      &:hover {
        stroke: #0d58e4;
        stroke-opacity: 0.1;
      }
    }
  }

  //4.1
  .after-before_4-1 {
    border: 2px white dotted;

    &::before {
      content: 'To jest tekst w ::before';
      font-size: 40px;
      color: orange;
    }

    &::after {
      content: 'To jest tekst w ::after';
      font-size: 30px;
      color: teal;
    }
  }

  //4.2
  .after-before_4-2 {
    border: 2px white dotted;

    &::before {
      content: 'To jest tekst w ::before';
      font-size: 40px;
      color: orange;
    }

    &::after {
      content: 'To jest tekst w ::after';
      font-size: 30px;
      color: teal;
    }

    &:hover::after {
      color: green;
    }

    &:hover::before {
      color: tomato;
    }
  }

  //4.3
  .icon-list_4-3 {
    list-style: none;
    padding: 0;

    li {
      margin-bottom: 12px;
    }
  }

  .list-link_4-3 {
    text-decoration: none;
    color: #ecd7d7;
    font-size: 18px;
    position: relative;

    /* wspólne cechy pseudo-elementów */
    &::before,
    &::after {
      content: '';
      display: inline-block;
      width: 24px;
      height: 24px;
      vertical-align: middle;
      background-size: contain;
      background-repeat: no-repeat;
    }

    /* ikona PRZED linkiem - zawsze widoczna */
    &::before {
      margin-right: 8px;
      background-color: yellow;
      mask-image: url('../../images/svg/only-tree.svg');
      mask-size: contain;
      mask-repeat: no-repeat;
    }

    /* ikona PO linku - tylko na hover */
    &::after {
      margin-left: 8px;
      opacity: 0;
      background-image: url('../../images/svg/save.svg');
      transition: opacity 1.3s ease;
    }

    /* pokazujemy ::after przy hover */
    &:hover::after {
      opacity: 1;
    }

    &:hover::before {
      background-color: red;
    }
  }

  //5.1
  .galery-relative-list_5-1 {
    --gap: 10px;
    --countImages: 3;
    --countSpace: calc(var(--countImages) - 1);
    display: flex;
    flex-wrap: wrap;
    gap: var(--gap);
    color: black;
    font-size: 1rem;
    margin: 20px 0 150px 0;

    .galery-relative-list-item_5-1 {
      display: flex;
      width: calc((100% - (var(--countSpace) * var(--gap))) / var(--countImages));
      height: 200px;
      border-radius: 4px;
      overflow: hidden;

      &.box1_5-1 {
        background-color: #35f805;
      }

      &.box2_5-1 {
        position: relative;
        top: 120px;
        left: 120px;
        color: black;
        background-color: #fbff03;
      }

      &.box3_5-1 {
        background-color: #00c6f8;
      }
    }
  }

  //5.3
  .galery-absolute-list_5-3 {
    --gap: 10px;
    --countImages: 3;
    --countSpace: calc(var(--countImages) - 1);
    display: flex;
    flex-wrap: wrap;
    gap: var(--gap);
    color: black;
    font-size: 1rem;
    margin: 20px 0 150px 0;
    position: relative;

    .galery-absolute-list-item_5-3 {

      display: flex;
      width: calc((100% - (var(--countSpace) * var(--gap))) / var(--countImages));
      height: 200px;
      border-radius: 4px;
      overflow: hidden;

      &.box1_5-3 {
        background-color: #35f805;
      }

      &.box2_5-3 {
        position: absolute;
        top: 120px;
        left: 120px;
        color: black;
        background-color: #fbff03;
      }

      &.box3_5-3 {
        background-color: #00c6f8;
      }
    }

  }

  //5.3
  .galery-absolute-img-list_5-3 {
    --gap: 10px;
    --countImages: 4;
    --countSpace: calc(var(--countImages) - 1);
    --widthImage: calc((100% - (var(--countSpace) * var(--gap))) / var(--countImages));

    display: flex;
    flex-wrap: wrap;
    gap: var(--gap);

    .galery-absolute-img-item_5-3 {
      display: flex;
      width: var(--widthImage);
      border-radius: 4px;
      overflow: hidden;
      position: relative;

      &:hover {
        .galery-absolute-img_5-3 {
          transform: scale(1.2);
        }

        .galery-absolute-text_5-3.text1_5-3 {
          top: calc(100% - 31px);
          left: calc(100% - 149px);
          background-color: rgb(255, 0, 0);
        }

        .galery-absolute-text_5-3.text2_5-3 {
          top: calc(100% - 31px);
          right: calc(100% - 105px);
          background-color: rgba(0, 0, 0, 1)
        }

        .galery-absolute-text_5-3.text3_5-3 {
          transform: translate(0, 0);
          background-color: rgba(0, 0, 0, 1)
        }

        .galery-absolute-text_5-3.text4_5-3 {
          transform: translate(100%, 0);
          background-color: rgba(0, 0, 0, 1)
        }
      }

      .galery-absolute-img_5-3 {
        // width: 100%;
        object-fit: cover;
        transition: transform 1.4s ease; //animacja obrazu
      }

      .galery-absolute-text_5-3 {
        position: absolute;
        padding: 2px;
        transition: left 1.4s ease-in-out, top 1.4s ease, right 1.4s ease, transform 1.4s ease, background-color 2.4s ease; //animacja tekstu

        &.text1_5-3 {
          top: 0;
          left: 0;
          background-color: rgba(0, 0, 0, 0.2);
          white-space: nowrap;
        }

        &.text2_5-3 {
          top: 0;
          right: 0;
          background-color: rgba(0, 0, 0, 0.3);
        }

        &.text3_5-3 {
          transform: translate(-100%, -100%);
          background-color: rgba(0, 0, 0, 0.4);
        }

        &.text4_5-3 {
          transform: translate(0, 0);
          background-color: rgba(0, 0, 0, 0.5);
        }
      }
    }
  }

  //5.4
  .position-fixed-container_5-4 {
    position: fixed;
    right: 30px;
    bottom: 30px;
    width: 128px;
    height: 128px;
    border: 1px solid white;
    background-color: black;
    cursor: pointer;
  }

  //5.5
  .sticky-main-container_5-5 {
    position: relative;


    .sticky-background_5-5 {
      background-image:
        url(../../images/image/gory.jpg);
      background-size: cover;
    }

    .sticky-text-container_5-5 {
      position: relative;
    }

    .sticky-header_5-5 {
      position: sticky;
    }

    .sticky-text_5-5 {
      color: white;
    }

  }
}