.pozycjonowanie-elementow {

  //4.1
  .after-before_4-1 {
    border: 2px white dotted;

    &::before {
      content: 'To jest tekst w ::before';
      font-size: 40px;
      color: orange;
    }

    &::after {
      content: 'To jest tekst w ::after';
      font-size: 30px;
      color: teal;
    }
  }

  //4.2
  .after-before_4-2 {
    border: 2px white dotted;

    &::before {
      content: 'To jest tekst w ::before';
      font-size: 40px;
      color: orange;
    }

    &::after {
      content: 'To jest tekst w ::after';
      font-size: 30px;
      color: teal;
    }

    &:hover::after {
      color: green;
    }

    &:hover::before {
      color: tomato;
    }
  }

  //4.3
  .icon-list_4-3 {
    list-style: none;
    padding: 0;

    li {
      margin-bottom: 12px;
    }
  }

  .list-link_4-3 {
    text-decoration: none;
    color: #ecd7d7;
    font-size: 18px;
    position: relative;

    /* wspólne cechy pseudo-elementów */
    &::before,
    &::after {
      content: '';
      display: inline-block;
      width: 24px;
      height: 24px;
      vertical-align: middle;
      background-size: contain;
      background-repeat: no-repeat;
    }

    /* ikona PRZED linkiem - zawsze widoczna */
    &::before {
      margin-right: 8px;
      background-color: yellow;
      mask-image: url('../../images/svg/only-tree.svg');
      mask-size: contain;
      mask-repeat: no-repeat;
    }

    /* ikona PO linku - tylko na hover */
    &::after {
      margin-left: 8px;
      opacity: 0;
      background-image: url('../../images/svg/save.svg');
      transition: opacity 1.3s ease;
    }

    /* pokazujemy ::after przy hover */
    &:hover::after {
      opacity: 1;
    }

    &:hover::before {
      background-color: red;
    }
  }

  //5.1
  .galery-relative-list_5-1 {
    --gap: 10px;
    --countImages: 3;
    --countSpace: calc(var(--countImages) - 1);
    display: flex;
    flex-wrap: wrap;
    gap: var(--gap);
    color: black;
    font-size: 1rem;
    margin: 20px 0 150px 0;

    .galery-relative-list-item_5-1 {
      display: flex;
      width: calc((100% - (var(--countSpace) * var(--gap))) / var(--countImages));
      height: 200px;
      border-radius: 4px;
      overflow: hidden;

      &.box1_5-1 {
        background-color: #35f805;
      }

      &.box2_5-1 {
        position: relative;
        top: 120px;
        left: 120px;
        color: black;
        background-color: #fbff03;
      }

      &.box3_5-1 {
        background-color: #00c6f8;
      }
    }
  }

  //5.3
  .galery-absolute-list_5-3 {
    --gap: 10px;
    --countImages: 3;
    --countSpace: calc(var(--countImages) - 1);
    display: flex;
    flex-wrap: wrap;
    gap: var(--gap);
    color: black;
    font-size: 1rem;
    margin: 20px 0 150px 0;
    position: relative;

    .galery-absolute-list-item_5-3 {

      display: flex;
      width: calc((100% - (var(--countSpace) * var(--gap))) / var(--countImages));
      height: 200px;
      border-radius: 4px;
      overflow: hidden;

      &.box1_5-3 {
        background-color: #35f805;
      }

      &.box2_5-3 {
        position: absolute;
        top: 120px;
        left: 120px;
        color: black;
        background-color: #fbff03;
      }

      &.box3_5-3 {
        background-color: #00c6f8;
      }
    }

  }

  //5.3
  .galery-absolute-img-list_5-3 {
    --gap: 10px;
    --countImages: 4;
    --countSpace: calc(var(--countImages) - 1);
    --widthImage: calc((100% - (var(--countSpace) * var(--gap))) / var(--countImages));

    display: flex;
    flex-wrap: wrap;
    gap: var(--gap);

    .galery-absolute-img-item_5-3 {
      display: flex;
      width: var(--widthImage);
      border-radius: 4px;
      overflow: hidden;
      position: relative;

      &:hover {
        .galery-absolute-img_5-3 {
          transform: scale(1.2);
        }

        .galery-absolute-text_5-3.text1_5-3 {
          top: calc(100% - 31px);
          left: calc(100% - 149px);
          background-color: rgb(255, 0, 0);
        }

        .galery-absolute-text_5-3.text2_5-3 {
          top: calc(100% - 31px);
          right: calc(100% - 105px);
          background-color: rgba(0, 0, 0, 1)
        }

        .galery-absolute-text_5-3.text3_5-3 {
          transform: translate(0, 0);
          background-color: rgba(0, 0, 0, 1)
        }

        .galery-absolute-text_5-3.text4_5-3 {
          transform: translate(100%, 0);
          background-color: rgba(0, 0, 0, 1)
        }
      }

      .galery-absolute-img_5-3 {
        // width: 100%;
        object-fit: cover;
        transition: transform 1.4s ease; //animacja obrazu
      }

      .galery-absolute-text_5-3 {
        position: absolute;
        padding: 2px;
        transition: left 1.4s ease-in-out, top 1.4s ease, right 1.4s ease, transform 1.4s ease, background-color 2.4s ease; //animacja tekstu

        &.text1_5-3 {
          top: 0;
          left: 0;
          background-color: rgba(0, 0, 0, 0.2);
          white-space: nowrap;
        }

        &.text2_5-3 {
          top: 0;
          right: 0;
          background-color: rgba(0, 0, 0, 0.3);
        }

        &.text3_5-3 {
          transform: translate(-100%, -100%);
          background-color: rgba(0, 0, 0, 0.4);
        }

        &.text4_5-3 {
          transform: translate(0, 0);
          background-color: rgba(0, 0, 0, 0.5);
        }
      }
    }
  }

  //5.4
  .position-fixed-container_5-4 {
    position: fixed;
    right: 30px;
    bottom: 30px;
    width: 128px;
    height: 128px;
    border: 1px solid white;
    background-color: black;
    cursor: pointer;
  }

  //5.5
  .sticky-main-container_5-5 {
    position: relative;
    height: 70vh;
    margin: 40px 0;
    overflow: auto;

    .sticky-container_5-5 {
      position: relative;
      background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
        url(../../images/image/gory.jpg);
      background-color: rgba(0, 0, 0, 1);
      background-size: cover;
      background-attachment: fixed;
      background-repeat: no-repeat;

      &::before {
        content: "";
        position: absolute;
        inset: 0;
        background-color: rgba(0, 0, 0, 0.1);
        transition: opacity 1.4s ease, background-color 1.4s ease;
      }

      &:hover::before {
        // opacity: 0.4;
        background-color: rgba(0, 0, 0, 0.7);
      }
    }

    .sticky-text-container_5-5 {
      position: relative;

      .sticky-header_5-5 {
        position: sticky;
        top: 0;
        text-align: center;
        background-image: linear-gradient(to bottom, #6a11cb 0%, #2575fc 100%);
      }

      .sticky-text_5-5 {
        color: white;
      }
    }
  }

  //5.6
  .z-index-list_5-6 {
    position: relative;
    height: 300px;
    color: blue;

    .z-index-item_5-6 {
      position: absolute;
      width: 200px;
      height: 200px;
      border-radius: 5px;
      border: solid 1px blue;
      transition: transform 0.3s ease, box-shadow 0.3s ease;

      &:hover {
        transform: translateY(-10px) scale(1.05);
        box-shadow: 0 10px 30px rgba(0, 0, 0, .3);
      }

      &.box1_5-6 {
        top: 30px;
        left: 30px;
        background-image: repeating-conic-gradient(#000 0 25%, #fff 0 50%);
        background-size: 100px 100px;
        z-index: 1;

        &:hover {
          z-index: 5;
        }
      }

      &.box2_5-6 {
        top: 60px;
        left: 60px;
        background-image: linear-gradient(90deg in hsl longer hue, red 0 100%);
        background-size: 100px 100px;
        z-index: 2;

        &:hover {
          z-index: 5;
        }
      }

      &.box3_5-6 {
        top: 90px;
        left: 90px;
        background-image: conic-gradient(from 90deg at 3px 3px, #0000 90deg, #000 0);
        background-size: 100px 100px;
        z-index: 3;

        &:hover {
          z-index: 5;
        }
      }

      &.box4_5-6 {
        top: 120px;
        left: 120px;
        background-image: repeating-conic-gradient(#000 0 12.5%, #fff 0 25%);
        background-size: 100px 100px;
        z-index: 4;

        &:hover {
          z-index: 5;
        }
      }
    }
  }
}