.animacja_m4z8 {
  color: white;

  //1.2
  .galery-transition-list_1-2 {
    --gap: 40px;
    --countImages: 4;
    --countSpace: calc(var(--countImages) - 1);
    --width: calc((100% - (var(--countSpace) * var(--gap))) / var(--countImages));
    display: flex;
    flex-wrap: wrap;
    gap: var(--gap);
    color: black;
    border: 2px dashed black;
    padding: 20px;
    margin: 20px 0;

    &:hover {
      .galery-transition-item_1-2 {
        background-color: rgb(224, 187, 19);
        transform: rotate(360deg);
        color: white;
      }
    }

    .galery-transition-item_1-2 {
      display: flex;
      width: var(--width);
      aspect-ratio: 1/1;
      border-radius: 4px;
      box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
        0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
      background-color: rgb(76, 0, 255);

      transition-property: background-color, transform, color;
      transition-duration: 2500ms;
      transition-delay: 0;
    }

    .box1_1-2 {
      transition-timing-function: cubic-bezier(0.34, 1.56, 0.64, 1);
    }

    .box2_1-2 {
      transition-timing-function: ease;
    }

    .box3_1-2 {
      transition-timing-function: ease-in;
    }

    .box4_1-2 {
      transition-timing-function: ease-in-out;
    }

    .box5_1-2 {
      transition-timing-function: ease-out;
    }

    .box6_1-2 {
      transition-timing-function: linear;
    }

    .box7_1-2 {
      transition-timing-function: steps(10, start);
    }

    .box8_1-2 {
      transition-timing-function: steps(10, end);
    }
  }
}