.img-container {
    width: 350px;
    margin: 0 auto;
    overflow: hidden;
    border: 2px solid black;
    border-radius: 15px;
}

hr {
    border: none;
    border-top: 3px double #333;
    color: #333;
    overflow: visible;
    text-align: center;
    height: 5px;
}

hr::after {
    background: #fff;
    content: 'Przykład';
    padding: 0 4px;
    position: relative;
    top: -13px;
}